.allCountriesContainer {
    width: 88%;
    position: relative;
    top: -10px;
    left: 4%;
    height: 1000px;
    border: 0.5px solid #282B30;
    background-color: #1B1D1F;
    border-radius: 15px;
    padding: 0px 2%;
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 15% 85%;   
    margin-bottom: 100px; 
}

.headerAllCountries {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    grid-column: span 2;
    
}
.leftContainer span {
    padding-bottom: 10px;
    padding-top: 30px;
}

.leftContainer span:first-child {
    padding-bottom: 10px;
    padding-top: 0px;
}


.headerAllCountries input {
    width: 300px;
    height: 40px;
    background-color: #282B30;
    border-radius: 10px;
    background-image: url("../assets/Search.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;    
}

#optionsSelect {
    width: 100%;
    background-color: #1B1D1F;
    border-radius: 10px;
    border: 2px solid #282B30;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;
    outline: none;
}

.regionItem {
    display: inline;
    padding: 7px;
    width: auto;
    text-align: center;
}

.regionItem:hover {
    border: 0.5px solid #282B30;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px;
}

.regionItemsContainer {
    display: grid;
    width: 200px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 4px;
    column-gap: 5px;
}

.regionItemsContainer * {
    font-size: 14px;
}

.regionItemsContainer > div:nth-child(2) {
    grid-column: span 2;
}

.statusItem {
    display: flex;
    margin-bottom: 10px;
}

.statusItem * {
    font-weight: 300;
    font-size: 14px;
    color: #D2D5DA;
    font-weight: 300;
}
.statusItem input {
    width: 20px;
    background-color: #1B1D1F;
}

.statusItem div {
    margin-left: 6px;
}

.rightContainer {
    margin-left: 30px;
}
.titlesContainer { 
    display: flex;
}

.titlesContainer > span:first-child {
    width: 13%;
    margin-left: 10px;
}

.titlesContainer > span:nth-child(2) {
    width: 22%;
}

.titlesContainer > span:nth-child(3) {
    width: 24%;
}

.titlesContainer > span:nth-child(4) {
    width: 20.5%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #282B30;
    margin-top: 20px;
}

.contriesContainer {
    width: 102.5%; 
    height: 95%;
    overflow-y: auto;
    border: 1px solid #ccc; 
    border: none;
}

/* Estilizar la barra de desplazamiento */
.contriesContainer::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Color de fondo de la barra */
.contriesContainer::-webkit-scrollbar-track {
    background: #404040; 
    border-radius: 5px;
}

/* Color y forma del thumb (la parte que se mueve) */
.contriesContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Cambiar color cuando se pasa el mouse */
.contriesContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.infoCountry {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;    
    cursor: pointer;
}

.infoCountry * {
    font-size: 14px;
    font-weight: 600;
    left: 0;
}

.infoCountry span {
    text-align: left;
}

.infoCountry > div:first-child {
    width: 50px;
    height: 40px;
    border-radius: 2px;
    margin-right: 7%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-left: 10px;
} 

.infoCountry > span:nth-child(2) {
    width: 24.5%;
}

.infoCountry > span:nth-child(3) {
    width: 22%;
}

.infoCountry > span:nth-child(4) {
    width: 20%;
}

@media (max-width: 1023px) {

    
    .titlesContainer > span:first-child {
        width: 20%;
        margin-left: 10px;
    }

    .titlesContainer > span:nth-child(2) {
        width: 35%;
    }

    .titlesContainer > span:nth-child(3) {
        width: 24%;
    }

    .infoCountry > div:first-child { 
        margin-right: 12%;
    }
    .infoCountry > span:nth-child(2) {
        width: 30%;
        margin-right: 7%;
    }
    
    .infoCountry > span:nth-child(3) {
        width: 22%;
    }
    
    .infoCountry > span:nth-child(4) {
        width: 20%;
    }
    
}

@media (max-width: 639px) {

    .sortBy {
        margin-top: 15px;
    }

    .headerAllCountries {
        justify-content: left;
    }
    .headerAllCountries span {
        margin-top: 30px;
    }

    .headerAllCountries input {
        width: 95%;
    }
    .allCountriesContainer{
        display: flex;
        flex-direction: column;
    }

    .regionItemsContainer {
        display: flex;
    }

    .headerAllCountries {
        flex-direction: column;
        align-items: flex-start;
    }

    .headerAllCountries * {
        margin-top: 10px;
    }

    .contriesContainer {
        height: 600px;
    }

}
